/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #FAF3E0;
  }
  
  /* Main container */
  .container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  }
  
  /* Form header */
  .formheader {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Input fields */
  .input-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
  }
  select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
  }
  
  /* Login button */
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn1 {
    /* display: block; */
    width: 40%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .col-12 {
    text-align: center;
    margin-bottom: 2vh;
}
  .btn:hover {
    background-color: #3e8e41;
  }
  .btn1:hover {
    background-color: #3e8e41;
  }
  
  /* Login to register text */
  .logintoregister {
    text-align: center;
    margin-top: 15px;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: #4CAF50;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* User data container */
  .userdata {
    margin-top: 20px;
    text-align: center;
  }
  
  .userdata p {
    margin-right: 30px;
  }
  
  .userdata a {
    color: #4CAF50;
  }
  
  .userdata a:hover {
    text-decoration: underline;
  }
  